
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <!--<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="/app.css">

</head>


<body ng-app="app" ng-controller="ApplicationCtrl">

<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href ="/#/">Posts</a></li>
            <li><a href ="/#/register">Register</a></li>
            <li><a href ="/#/login">Login</a></li>
        </ul>

        <p ng-if="currentUser" class="navbar-text navbar-right" ng-cloak>
            Signed in as {{currentUser.username}}
        </p>


    </div>
</nav>


    <div ng-view></div>


<!--<script src="../../bower_components/angular/angular.js"></script>-->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>

<script src="/app.js"></script>


</body>
</html>